.dashboard-center{
    padding: 8rem 8px !important;
    width: 100%;
    max-width: 920px;
    /* margin: auto; */
}

@media screen and (max-width:992px) {
    .dashboard-center{
        padding: 0px !important;
    }    
    .dashboard-center {
        padding: 8rem 8px !important;
        width: 100%;
        max-width: 475px;
        margin: auto;
    }

    .accordion-body div{
        justify-content: center !important;
    }
}




@media screen and (max-width: 530px) {
    .dashboard-center{
        margin: 4px 4px !important;
        width: 95%;
    }       
}