.home-arrow {
  font-size: 30px;
  font-weight: bolder;
}

.home-text {
  font-size: 18px;
  cursor: pointer;
  border: none;
  background: none;
}

.score-card {
  background-color: #9bd112;
  opacity: 0.7;
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  max-width: 257px;
  padding: 20px;
  border-radius: 16px;
  min-width: 250px;
}

.score-input {
  width: 44px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #54c999;
  height: 14px;
  margin: 0px 6px;
}

@media screen and (max-width: 1170px) {
  .score-card-parent {
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .score-card{
    max-width: 100% !important;
  }
}

@media screen and (max-width:350px) {
    .score-text-comp{
        font-size: 18px;
    }
    
}
