.score-container {
  min-width: 275px;
}

.badge-container div span,
.star-container span {
  margin: 0px 16px;
  font-size: 26px;
  font-weight: 500;
  color: #54c999;
}

.level {
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;

  color: #54c999;
}

@media screen and (max-width: 875px) {
  .badge-img {
    width: 40px;
  }
  .badge-container div img {
    width: 50px;
  }
  .start-img {
    width: 18px;
  }
  .badge-container div span,
  .star-container span,
  .level {
    font-size: 16px;
  }
}

@media screen and (max-width: 485px) {
  .badge-img {
    width: 30px;
  }
  .badge-container div img {
    width: 40px;
  }
  .start-img {
    width: 12px;
  }
}
@media (max-width:310px){
    .star-container{
        width: 100%;
        max-width: 30px;
    }
    .score-container {
        min-width: 240px;
    }
    .badge-img {
        width: 20px;
    }
    .badge-container div img {
        width: 30px;
    }
    .level {
        line-height: 28px;
    }
}