.wrong-alert {
  background-color: #ff0000;
  opacity: 0.5;
  padding: 18px;
  border-radius: 18px;
  width: 60%;
  margin: auto;
  /* position: absolute;
    bottom: 26px;
    left: 20%; */
  min-width: 250px;
}

.wrong-text-1 {
  line-height: 12px;
  font-weight: 700;
  font-size: 30px;
}

@media screen and (max-width: 830px) {
  .wrong-image {
    width: 58px;
  }
  .wrong-text-1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 760px) {
    .wrong-text-2{
        font-size: 14px;
    }    
}

@media screen and (max-width: 600px) {
  .wrong-image {
    width: 40px;
  }

  .wrong-text-1{
    font-size: 14px;
  }

  .wrong-text-2{
    font-size: 10px;
    line-height: 14px !important;
  }

  .wrong-alert button {
    font-size: 12px;
    padding: 6px;
  }
}
